**/.idea
/DesktopFrontend/DesktopFrontend/bin/
/DesktopFrontend/DesktopFrontend/obj/
**/__pycache__
/Server/proto/
/Server/*.log
/Server/logs
*.DotSettings.user
.vs

# protobuffers
/Server/proto/
/DesktopFrontend/DesktopFrontend/Proto
