**/.idea
/DesktopFrontend/DesktopFrontend/bin/
/DesktopFrontend/DesktopFrontend/obj/
*/__pycache__*
/Server/proto/
Server/google/
/Server/logs/
/Server/congfig.py
/Server/test_*.py
/Server/*.log
*_pb2.py
*.DotSettings.user
.vs
